@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "stylesnone";

body {
    font-family: "Manrope", sans-serif;
    font-size: 1.25rem;
}

.container {
    max-width: 90rem;
    padding: 0 100px;
    margin: 0 auto;
}
.top-section {
    min-height: 100vh;
    background: url(../img/background.jpg) no-repeat center / cover;
    margin: 0px 0px 130px 0px;
}
.header {
    padding: 20px 0;

    .container {
        display: flex;
        justify-content: space-between;
    }
}
.header__wrapper {
    display: flex;
    align-items: center;
}
.header__icon {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
        font-weight: 800;
        font-size: 1.5rem;
    }
}

.header__logo {

}

.header__nav {
    display: flex;
    justify-self: start;
    gap: 32px;

    font-size: 1.15rem;

    margin: 0px 0px 0px 32px;
}

.header__item {
}

.header__list {
    display: none;
}

.header__img-wrapper {
    display: flex;
    gap: 12px;
}

.header__img-item {
    
}


.welcome {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

.welcome__desc {
    max-width: 41.25rem;
}

.welcome__title {
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 1.36;

    margin: 0px 0px 30px 0px;
}

.welcome__btn {
    padding: 16px 41px;
    color: #fff;
    font-weight: 700;
    line-height: 1.5;

    background: #8C30F5;
    border-radius: 8px;
}

.welcome__img-wrapper {
}

.welcome__img-item {
    transform: translateY(90px);

    filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, 0.5));
}


.logo-clouds {
    .container {

    }
    margin: 0px 0px 30px 0px;
}

.logo-clouds__wrapper {
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-top: 1px solid rgba(115, 115, 115, 0.3);
    border-bottom: 1px solid rgba(115, 115, 115, 0.3);
}

.logo-clouds__item {

}


.features {
    .container {
        display: flex;
        flex-direction: column;
    }
    margin: 0px 0px 65px 0px;
}



.features__wrapper {
    max-width: 33.125rem;
}
.common__wrapper {
    max-width: 33.125rem;
    text-align: center;
    margin: 0 auto;
}
.title {
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.33;
}
.text {
    font-size: 1.125rem;
    line-height: 1.78;

    margin: 0px 0px 40px 0px;
}
.features__title {
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.33;
}

.features__text {
    font-size: 1.125rem;
    line-height: 1.78;

    margin: 0px 0px 40px 0px;
}

.features__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(230px, 1fr));
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
}

.features__item {
    text-align: center;
}

.card {

}

.card__img {
    margin: 0px 0px 25px 0px;
}

.card__title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.3;
    
    margin: 0px 0px 10px 0px;
}

.card__text {

}

.customers {
    padding: 80px 0;
    background: rgba(213, 250, 252, 0.7);

    position: relative;
    }
.customers .container {
    position: relative;
    &:before {
        content: "";
        background: url(../img/big-quote.png) no-repeat center / contain;
        width: 11.34%;
        padding-top: 9.52%;

        position: absolute;
        top: -8%;
        left: 0;
        z-index: -1;
    }
}

.customers__wrapper {
    text-align: left;
    max-width: 25.36rem;
    margin: 0;

    position: relative;
    z-index: 2;
}
.customers__text {
    margin: 0px 0px 25px 0px;
}
.customers__cards {
    display: grid;
    gap: 30px;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: ". airbnb"
                        "hubspot airbnb"
                        "hubspot bookmyshow"
                        "hubspot .";
}

.customers__item {
    max-width: 21.875rem;
    padding: 32px 32px 32px 64px;
    background-color: #fff;

    &:nth-child(1) {
        justify-self: end;
        grid-area: hubspot;
    }
    &:nth-child(2) {
        grid-area: airbnb;
    }
    &:nth-child(3) {
        grid-area: bookmyshow;
    }
}
.customers__item_big {
    max-width: 28.125rem;
}
.customers__img {
    margin: 0px 0px 30px 0px;
}

.customers__item-text {
    line-height: 1.7;
    margin: 0px 0px 25px 0px;
    position: relative;

    &:before {
        content: "";
        background: url(../img/small-quote.svg) no-repeat center/ contain;
        width: 16px;
        height: 14px;
        position: absolute;
        top: -5%;
        left: -10%;
    }
}

.card__text {

}

.customers__item-title {
    font-size: 1.125rem;
}

.card__title {

}

.customers__item-subtitle {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.71;
    color: #969BAB;
}

.card__subtitle {

}