.download {
    padding: 60px 0;

    background: #2EC5CE;
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        background: url(../img/footer-iphone.png) no-repeat center/ contain;
        position: absolute;
        bottom: 25%;
        right: 30%;
        width: 16.235%;
        height: 94.341%;
    }
    &:after {
        content: "";
        background: url(../img/welcome-iphone.png) no-repeat center/ contain;
        position: absolute;
        top: 18%;
        right: 15%;
        width: 16.235%;
        height: 94.341%;
    }
    @media (max-width: 1150px) {
    &:before {
        content: "";
        bottom: 15%;
        right: 17%;
    }
    &:after {
        content: "";
        top: 12%;
        right: 1%;
    }
    }
    @media (max-width: 900px) {
        &:before,&:after {
            display: none;
        }
        padding: 30px 0;
    }
}
.download__desc {
    max-width: 34.84rem;
}
.download__title {
}
.download__text {
    line-height: 1.77;
    @include adaptiv-font(18,14 );
    margin: 0px 0px 2.67em 0px;
}
.download__subtext {
    margin: 0px 0px 0.5em 0px;
}
.download__img-wrapper {
    display: flex;
    gap: 10px;
}
.download__item {
}