.arrow {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 5;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -3px;
        margin-left: -5px;

        border-top: 10px solid #000;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        transition: all 0.3s ease 0s;
    }
    &.active::after {
        transform: rotate(-180deg);
    }
}
.header__sub-arrow {
    &:after {
        border-left: 10px solid #fff;
        border-right: none;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
}