.container {
    max-width: 90rem;
    padding: 0 15px;
    margin: 0 auto;
    @media (min-width: 768px) {
        padding: 0 50px;
    }
    @media (min-width: 1200px) {
        padding: 0 100px;
    }
}
.common__wrapper {
    max-width: 33.125rem;
    text-align: center;
    margin: 0 auto;
}
.common__img-item {
}